#cookie-bar-prompt-content {
  max-width: calc(100% - 50px - 10%) !important;
  top: calc(60% - 140px) !important;
  transform: translateY(-50%) !important;
}

#cookie-bar a,
#cookie-bar p {
  margin: 20px !important;
}

@media only screen and (max-device-width: 800px) {
  #cookie-bar-prompt-content {
    max-height: calc((100vh - 190px - 50px - 10%) * .9) !important;
  }
}

@media print {
  #cookie-bar {
    display: none !important;
  }
}
