/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  @page  {
    size: A4 portrait;
  }

  .print-visible {
    display: block !important;
  }

  .print-hidden {
    display: none !important;
  }

  body {
    font-size: 10pt;
    /* margin: 1.5cm 2cm .5cm 2cm; */
    padding-bottom: 0 !important;
  }

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href].no-print {
    text-decoration: none;
  }

  a[href]:not(.no-print):after {
    content: " (" attr(href) ")";
  }

  abbr[title].no-print {
    text-decoration: none;
  }

  abbr[title]:not(.no-print):after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    /* border: 1px solid #999; */
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  h1 {
    /* text-align: center; */
  }

  #gravatar img {
    height: 220px;
    width: 220px;
  }

  #quote-container {
    position: absolute;
    right: 0;
    top: 10em;
    width: 28em;
    /* left: 22em; */
  }

  blockquote {
    border-left: .3em solid black;
    padding: .1em 1em;
  }

  blockquote p {
    font-style: italic;
  }

  #qr-container-bottom {
    /* position: absolute; */
    /* bottom: 0; */
    /* top: 100%; */
    /* padding-top: 50px; */
    margin: .5cm 0 0 0;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    text-align: center;
  }

  #pwa-button {
    display: none !important;
  }
}
