@media screen {
  button,
  #main-actions a {
    transition: all 0.1s ease-out;
  }

  #qr-container-top {
    transition: transform 0.3s ease-out;
  }

  #profiles a,
  .fa-li {
    transition: color 0.3s ease-out;
  }
}
