@import 'variables';

/* Body */
$body-base-padding: 1.4rem;
$body-max-width: 57rem;

@media screen {
  h1 {
    color: $body-background-color;
  }

  h2 {
    color: #d50000;

    @media (max-width: 920px) {
      font-size: 2.75em !important; // FIXME: move to other location;
    }

    @media (max-width: 870px) {
      font-size: 2.5em !important; // FIXME: move to other location;
    }

    @media (max-width: 840px) {
      font-size: 2.25em !important; // FIXME: move to other location;
      margin-bottom: 0;
    }
  }

  #shape {
    // width: 0;
    width: calc(100% - 140px + 1.4rem);
    height: 0;
    border-top: calc(140px + #{$body-base-padding} + 0.67em - 2.33em) solid #d50000;
    border-left: 140px solid transparent;
    position: absolute;
    top: -$body-base-padding;
    left: 0;
    z-index: -1;

    @media (max-width: 47em) {
      border-top: calc(140px + #{$body-base-padding} + 0.67em) solid #d50000;
    }
  }
}

@media screen and (max-width: $gravatar-threshold) {
  #shape {
    border-top: calc(80px + #{$body-base-padding * 2}) solid #d50000;
    border-left: 80px solid transparent;
    width: calc(100% - 80px + 1.4rem);
  }

  #title-container {
    line-height: 1.2;

    h1 {
      color: #d50000 !important; // FIXME: move to other location
    }

    h2 {
      font-size: 2.43em !important; // FIXME: move to other location
      margin: 0 !important; // FIXME: move to other location
    }
  }
}

@media screen {
  html {
    background-color: $body-background-color;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $body-base-padding;
}

@media (max-width: 320px) {
  body {
    padding: $body-base-padding 1rem;
  }

  #pwa-button {
    right: 1rem !important;
  }
}
/*
@media screen and (min-width: 460px) and (min-height: 730px) {
  body {
    box-sizing: border-box;
    height: 100vh;
  }
}
*/
@media (min-width: $body-max-width) {
  body {
    padding: $body-base-padding calc((100vw - #{$body-max-width}) / 2);
  }

  #pwa-button {
    right: calc((100vw - #{$body-max-width}) / 2) !important;
  }
}

/* Buttons */

%active-button {
  background-color: $button-background-color-highlight;
  color: $body-background-color;
  outline: none;
}

%square-button {
  text-decoration: none;
  color: $button-foreground-color;
  background-color: $button-background-color;
  border: none;
  cursor: pointer;
  min-width: 50px;
  min-height: 50px;

  &:hover,
  &:focus,
  &:active {
    @extend %active-button;
  }
}

#main-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;

  a {
    @extend %square-button;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a,
  button {
    color: $body-background-color;
  }
}

button {
  @extend %square-button;
}

/* QR Top */

@media screen {
  #qr-container-top {
    border-radius: 12px;
    position: absolute;
    top: 80px;
    right: 1.4rem;
    background-color: $body-background-color;
    /* border: 1px solid black; */
    /* https://blog.qrstuff.com/2011/11/23/qr-code-minimum-size */
    /* height: 400px; */
    /* width: 400px; */
    transform: scaleY(0);
    overflow: hidden;
    height: auto;
    transform-origin: top;
    height: 259px;
    width: 199px;

    img {
      margin: {
        left: -1px;
        top: -1px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #qr-container-top {
    right: 1rem;
  }
}

@media screen and (min-width: $body-max-width) {
  #qr-container-top {
    right: calc((100vw - #{$body-max-width}) / 2);
  }

  #q-profiles-container {
    display: flex;
    justify-content: space-between;
  }
}

/* Quote */
/* http://html5doctor.com/blockquote-q-cite/ */

@media screen {
  blockquote {
    margin: 0 0 0 1em;
    font-size: 6vmin;
  }

  #quote-symbol {
    color: #d50000;
    font-size: 5em;
  }
}

/*
blockquote {
  border: none;
  border-left: 1px solid #d50000;
  padding: 5px 20px 10px 20px;
  quotes: '“' '”';
  margin: 1em 0;

  p {
    &::before {
      content: '';
      content: no-open-quote;
    }

    &::after {
      content: '';
      content: no-close-quote;
    }

    &:first-of-type::before {
      content: '“';
      content: open-quote;
    }

    &:last-of-type::after {
      content: '”';
      content: close-quote;
    }
  }
}
*/
#main-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 14px;
  position: relative;
}

body {
  padding-bottom: calc(#{$body-base-padding} + 50px);
}

#pwa-button {
  bottom: $body-base-padding;
  border-radius: 50%;
  box-shadow: 0 0 2px 4px $button-background-color-highlight;
  display: none;
  opacity: 0;
  padding: 0 8px 0 0;
  position: fixed;
  right: $body-base-padding;
  z-index: 1;

  &:not(:hover):not(:focus):not(:active) {
    background-color: $body-background-color;
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 2px 4px $button-foreground-color;
  }

  // .pwa-button-plus {
  //   color: #00d5d5;
  // }
}

@media screen {
  #gravatar img {
    border-radius: 50%;
  }
}

@media screen and (min-width: ($gravatar-threshold + 1px)) {
  #gravatar img {
    height: 280px;
    width: 280px;
  }
}

@media screen {
  .fa-li {
    color: #424242;
  }

  #quote-container {
    // height: 50vh;
    display: flex;
  }

  #title-container {
    margin-left: 1em;

    h1 {
      // font-size: smaller;
      color: #ffebee;

      margin: {
        top: 50px;
      }
    }

    h2 {
      font-size: 3em;

      margin: {
        // left: .415em;
        left: 21px;
        top: 0;
      }
    }
  }

  #quote-container {
    margin: 6vmin 1.4em;
  }
}

@media screen and (max-width: $gravatar-threshold) {
  #main-header {
    flex-direction: column;
  }

  #gravatar {
    display: flex;
  }

  #quote-container {
    margin: 0;
  }
}
