@import 'variables';

@media screen {
  #profiles {
    ul {
      // display: flex;
      // justify-content: space-between;
      // margin-bottom: 10px;
      padding-left: 0;
    }

    li {
      list-style: none;
      // display: inline-block;
    }

    // a {
    //   color: $button-foreground-color;

    //   &:focus {
    //     outline: none;
    //   }
    // }
  }

  #profile {
    &-github:hover .fa-li,
    &-github-link:hover,
    &-github-link:active,
    &-github-link:focus {
      color: #24292e;
    }

    &-devto:hover .fa-li,
    &-devto-link:hover,
    &-devto-link:active,
    &-devto-link:focus {
      color: #000;
    }

    &-gravatar:hover .fa-li,
    &-gravatar-link:hover,
    &-gravatar-link:active,
    &-gravatar-link:focus {
      color: #1e8cbe;
    }

    &-stackoverflow:hover .fa-li,
    &-stackoverflow-link:hover,
    &-stackoverflow-link:active,
    &-stackoverflow-link:focus {
      color: #f48024;
    }

    &-linkedin:hover .fa-li,
    &-linkedin-link:hover,
    &-linkedin-link:active,
    &-linkedin-link:focus {
      color: #0077b5;
    }

    &-sourceforge:hover .fa-li,
    &-sourceforge-link:hover,
    &-sourceforge-link:active,
    &-sourceforge-link:focus {
      color: #f58236;
    }
  }
}

#profile-email-address {
  unicode-bidi: bidi-override;
  direction: rtl;

  &::after {
    /* content: attr(data-domain); */
    content: attr(data-user) "";
    white-space: pre;
  }

  &::before {
    /* content: attr(data-user) "\0040"; */
    content: attr(data-domain)"\0040";
  }

  &-extra {
    display: none;
  }
}
