<%- include('../partials/main-header') %>
  <%- include('../partials/main-content') %>
    <%- include('../partials/main-footer') %>
      <%- include('../partials/main-noscript') %>
        <%- include('../partials/main-script') %>
          <%- include('../partials/main-microdata') %>
            <!--
<ul>
  <% site.profiles.forEach((project) => { %>
    <li>
      <a href="<%= project.url %>">
        <%= project.name %>
      </a>
    </li>
    <% }) %>
</ul>
-->
