<link href="https://fonts.googleapis.com/css?family=Taviraj:600|Trirong:400,400i"
      rel="stylesheet"
      media="print">
<style>
  @media screen {html{font-family:sans-serif;} .no-js{font-family:'Work Sans',sans-serif;}}
  @media print {html{font-family:'Trirong',serif;}}
  h1,h2{font-family:serif;font-weight:600;}
  .no-js h1,.no-js h2{font-family:'Taviraj', serif}
  <%- faCss() %>
</style>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"
      content="IE=edge,chrome=1">
<title>Francesco Colamonici</title>
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color"
      content="#d50000">
<meta name="description"
      content="Francesco Colamonici's professional profile.">
<meta property="og:title"
      content="Francesco Colamonici">
<meta property="og:description"
      content="Francesco Colamonici's professional profile.">
<meta property="og:type"
      content="website">
<meta property="og:url"
      content="https://francescocolamonici.app">
<meta name="HandheldFriendly"
      content="True">
<meta name="MobileOptimized"
      content="320">
<meta name="robots"
      content="index,follow">

<meta property="og:image"
      content="https://www.gravatar.com/avatar/82d353ae5a09599ac19268955838fa94">
<meta property="og:image:secure_url"
      content="https://www.gravatar.com/avatar/82d353ae5a09599ac19268955838fa94">

<link rel="canonical"
      href="https://francescocolamonici.app" />
<link rel="manifest"
      href="site.webmanifest">
<!-- Add to home screen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable"
      content="yes">
<meta name="apple-mobile-web-app-status-bar-style"
      content="black">
<meta name="apple-mobile-web-app-title"
      content="F. Colamonici">
<link rel="apple-touch-icon"
      href="favicon-inverted.svg">
<meta name="msapplication-TileImage"
      content="favicon-inverted.svg">
<meta name="msapplication-TileColor"
      content="#d50000">
<meta name="msapplication-config"
      content="browserconfig.xml">
<!-- <link rel="stylesheet"
        href="main.bundle.css"> -->
<!-- Place favicon.ico in the root directory -->
<link href="favicon-inverted.ico"
      rel="icon">
<link href="favicon-inverted.svg"
      rel="icon"
      type="image/svg+xml">
<!--
<script async
        src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
<script async
        src="https://use.fontawesome.com/releases/v5.0.13/js/brands.js"
        integrity="sha384-G/XjSSGjG98ANkPn82CYar6ZFqo7iCeZwVZIbNWhAmvCF2l+9b5S21K4udM7TGNu"
        crossorigin="anonymous"></script>
<script async
        src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
-->
<!--
  <script async
          src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
          integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
          crossorigin="anonymous"></script>
  -->
<!-- <script defer
        src="font.bundle.js"></script> -->
<script>!function (e) { var t = {}; function n(o) { if (t[o]) return t[o].exports; var r = t[o] = { i: o, l: !1, exports: {} }; return e[o].call(r.exports, r, r.exports, n), r.l = !0, r.exports } n.m = e, n.c = t, n.d = function (e, t, o) { n.o(e, t) || Object.defineProperty(e, t, { configurable: !1, enumerable: !0, get: o }) }, n.r = function (e) { Object.defineProperty(e, "__esModule", { value: !0 }) }, n.n = function (e) { var t = e && e.__esModule ? function () { return e.default } : function () { return e }; return n.d(t, "a", t), t }, n.o = function (e, t) { return Object.prototype.hasOwnProperty.call(e, t) }, n.p = "", n(n.s = 2) }({ 2: function (e, t) { function n() { "requestAnimationFrame" in window ? window.requestAnimationFrame(o) : setTimeout(o) } function o() { document.body.style.fontFamily = "'Work Sans', sans-serif"; var e = document.querySelectorAll("h1, h2"); for (var t of e) t.style.fontFamily = "'Taviraj', serif" } if ("undefined" != typeof FontFace) { console.log("FontFace"); var r = new FontFace("Taviraj", "url(https://fonts.gstatic.com/s/taviraj/v3/ahccv8Cj3ylylTXzRDYPR-5RgA.woff2)", { style: "normal", unicodeRange: "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD", weight: "600" }), a = new FontFace("Work Sans", "url(https://fonts.gstatic.com/s/worksans/v3/QGYsz_wNahGAdqQ43Rh_fKDp.woff2)", { style: "normal", unicodeRange: "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD", weight: "400" }); Promise.all([a.load(), r.load()]).then(function () { document.fonts.add(r), document.fonts.add(a), n() }) } else console.warn("WebFont"), window.WebFontConfig = { google: { families: ["Taviraj:600|Work+Sans"] } }, function () { var e = document.createElement("script"); e.src = "https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js", e.type = "text/javascript"; var t = document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e, t) }(), n() } });</script>
<script defer
        src="main.bundle.js"></script>
<script defer
        src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?theme=flying&tracking=1&thirdparty=1&showNoConsent=1&noGeoIp=1"></script>
