<section id="js-name-section"
         class="print-hidden">
  <h2>Name</h2>
  <p id="js-name-container">
    <span>I'm</span>
    <code id="js-name">(+![]+[][(![]+[])[+[]]+([![]]+[][[]])[+!+[]+[+[]]]+(![]+[])[!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+!+[]]][([][(![]+[])[+[]]+([![]]+[][[]])[+!+[]+[+[]]]+(![]+[])[!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+!+[]]]+[])[!+[]+!+[]+!+[]]+(!![]+[][(![]+[])[+[]]+([![]]+[][[]])[+!+[]+[+[]]]+(![]+[])[!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+!+[]]])[+!+[]+[+[]]]+([][[]]+[])[+!+[]]+(![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[+!+[]]+([][[]]+[])[+[]]+([][(![]+[])[+[]]+([![]]+[][[]])[+!+[]+[+[]]]+(![]+[])[!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+!+[]]]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[][(![]+[])[+[]]+([![]]+[][[]])[+!+[]+[+[]]]+(![]+[])[!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+!+[]]])[+!+[]+[+[]]]+(!![]+[])[+!+[]]])[+!+[]+[+[]]]+(!![]+[])[+!+[]]+(![]+[])[+!+[]]+([][[]]+[])[+!+[]]+([][(![]+[])[+[]]+([![]]+[][[]])[+!+[]+[+[]]]+(![]+[])[!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+!+[]]]+[])[!+[]+!+[]+!+[]]+(!![]+[])[!+[]+!+[]+!+[]]+(![]+[])[!+[]+!+[]+!+[]]+([][(![]+[])[+[]]+([![]]+[][[]])[+!+[]+[+[]]]+(![]+[])[!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+!+[]]]+[])[!+[]+!+[]+!+[]]+(!![]+[][(![]+[])[+[]]+([![]]+[][[]])[+!+[]+[+[]]]+(![]+[])[!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+!+[]]])[+!+[]+[+[]]]</code>
    <button id="js-name-copy"
            accesskey="c"
            aria-label="Copy to clipboard">
      <%- faIcon({prefix: 'fas', iconName: 'copy'}, {classes: ['fa-lg'], title: 'Copy to clipboard'}) %>
    </button>
  </p>
</section>
<div id="q-profiles-container">
  <main>
    <h2>Qualifications</h2>
    <ul class="fa-ul"
        id="qualification-list">
      <!--li>
      <span class="fa-li"><%- faIcon({prefix: 'fas', iconName: 'diagnoses'}, {classes: ['fa-lg']}) %></span>Technical Architect</li-->
      <li>
        <span class="fa-li"><%- faIcon({prefix: 'fab', iconName: 'angular'}) %><%- faIcon({prefix: 'fab', iconName: 'node-js'}) %></span>
        <abbr title="TypeScript">TS</abbr>
        <span>/</span>
        <abbr title="JavaScript">JS</abbr>&nbsp;Framework Specialist</li>
      <li>
        <span class="fa-li"><%- faIcon({prefix: 'fas', iconName: 'chalkboard-teacher'}, {classes: ['fa-lg']}) %></span>Code Mentor</li>
      <li>
        <span class="fa-li"><%- faIcon({prefix: 'fas', iconName: 'compass'}, {classes: ['fa-lg']}) %></span>Leading innovation for a&nbsp;
        <a class="no-print"
           href="http://fortune.com/fortune500/list"
           rel="noopener external"
           target="_blank">Fortune 20&nbsp;
          <%- faIcon({prefix: 'fas', iconName: 'external-link-square-alt'}, {classes: ['fa-xs', 'print-hidden'], title: 'Open in a new window'}) %>
        </a>&nbsp;Customer on a 2 billion dollar project</li>
      <li>
        <span class="fa-li"><%- faIcon({prefix: 'fas', iconName: 'graduation-cap'}, {classes: ['fa-lg']}) %></span>Graduated with honors in Mathematics</li>
      <li>
        <span class="fa-li"><%- faIcon({prefix: 'fab', iconName: 'd-and-d'}, {classes: ['fa-lg']}) %></span>D&D long-time player</li>
    </ul>
  </main>
