<header id="main-header">
  <div id="shape"></div>
  <aside class="print-hidden"
         id="main-actions"
         style="height: 50px">
    <a href="francesco.colamonici.vcf"
       id="save-contact">
      <%- faIcon({prefix: 'fas', iconName: 'address-card'}, {classes: ['fa-lg'], title: 'Save contact'}) %>
    </a>
    <button id="print-button">
      <%- faIcon({prefix: 'fas', iconName: 'print'}, {classes: ['fa-lg'], title: 'Print'}) %>
    </button>
    <button id="show-qr">
      <%- faIcon({prefix: 'fas', iconName: 'qrcode'}, {classes: ['fa-lg'], title: 'Scan contact'}) %>
    </button>
  </aside>

  <aside id="gravatar">
    <picture>
      <source srcset="https://www.gravatar.com/avatar/82d353ae5a09599ac19268955838fa94?d=identicon"
              media="(max-width: 675px)">
      <img src="https://www.gravatar.com/avatar/82d353ae5a09599ac19268955838fa94?s=280&d=identicon"
           alt="My Gravatar profile main photo"
           height="80"
           width="80">
    </picture>

    <!-- <a href="https://it.gravatar.com/fresco7189"
       rel="noopener external">
      <picture>
        <source srcset="https://www.gravatar.com/82d353ae5a09599ac19268955838fa94.qr"
                media="(max-width: 1024px)">
        <img src="https://www.gravatar.com/82d353ae5a09599ac19268955838fa94.qr?s=320"
             alt="QR Code of my Gravatar profile URL">
      </picture>
    </a> -->
  </aside>
  <div id="title-container">
    <h1>Francesco Colamonici</h1>
    <h2>Technical Architect</h2>

    <noscript>
      <aside class="print-hidden">
        <p style="font-size: larger; color: red; border: 1px dotted crimson; padding: 10px">
          JavaScript is required to print this page and scan my contact's QR code (using the buttons above).
        </p>
      </aside>
    </noscript>
  </div>
</header>

<div id="quote-container">
  <!-- <aside id="quote"> -->
  <span id="quote-symbol"
        class="print-hidden">&ldquo;</span>
  <blockquote lang="en">
    <p>
      Simple things should be simple, complex things should be possible.</p>
    <footer>
      — Alan Kay
    </footer>
  </blockquote>
  <!-- </aside> -->
</div>

<aside id="qr-container-top"
       class="print-hidden visuallyhidden">
  <picture class="lazy">
    <source data-srcset="img/Francesco_Colamonici.svg"
            type="image/svg+xml">
    <img data-src="img/Francesco_Colamonici.png"
         alt="Contact as QR Code">
  </picture>
  <noscript>
    <picture>
      <source srcset="img/Francesco_Colamonici.svg"
              type="image/svg+xml">
      <img src="img/Francesco_Colamonici.png"
           alt="Contact as QR Code">
    </picture>
  </noscript>
</aside>
