<section id="profiles">
  <!-- <hr class="print-hidden"> -->
  <h2>Profiles</h2>
  <ul class="fa-ul">
    <!-- <li>
      <a href="https://codepad.co/fr-esco"
      rel="noopener external">Codepad</a>
    </li> -->
    <li id="profile-gravatar">
      <span class="fa-li">
        <%- faIcon({prefix: 'fas', iconName: 'user-circle'}, {classes: ['fa-lg fa-fw'], title: 'Gravatar'}) %>
      </span> Contact info on&nbsp;
      <a id="profile-gravatar-link"
         href="https://it.gravatar.com/fresco7189"
         rel="noopener external"
         target="_blank">
        Gravatar&nbsp;
        <%- faIcon({prefix: 'fas', iconName: 'external-link-square-alt'}, {classes: ['fa-xs', 'print-hidden'], title: 'Open in a new window'}) %>
      </a>
    </li>
    <li id="profile-github">
      <span class="fa-li">
        <%- faIcon({prefix: 'fab', iconName: 'github-square'}, {classes: ['fa-lg fa-fw'], title: 'GitHub'}) %>
      </span> Repos and contributions on&nbsp;
      <a id="profile-github-link"
         href="https://github.com/fr-esco"
         rel="noopener external"
         target="_blank">
        GitHub&nbsp;
        <%- faIcon({prefix: 'fas', iconName: 'external-link-square-alt'}, {classes: ['fa-xs', 'print-hidden'], title: 'Open in a new window'}) %>
      </a>
    </li>
    <li id="profile-stackoverflow">
      <span class="fa-li">
        <%- faIcon({prefix: 'fab', iconName: 'stack-overflow'}, {classes: ['fa-lg fa-fw'], title: 'Stack Overflow'}) %>
      </span> Answers on&nbsp;
      <a id="profile-stackoverflow-link"
         href="https://stackoverflow.com/users/8682941"
         rel="noopener external"
         target="_blank">
        Stack Overflow&nbsp;
        <%- faIcon({prefix: 'fas', iconName: 'external-link-square-alt'}, {classes: ['fa-xs', 'print-hidden'], title: 'Open in a new window'}) %>
      </a>
    </li>
    <li id="profile-devto">
      <span class="fa-li">
        <%- faIcon({prefix: 'fab', iconName: 'dev'}, {classes: ['fa-lg fa-fw'], title: 'Dev.to'}) %>
      </span> DEV Profile on&nbsp;
      <a id="profile-devto-link"
         href="https://dev.to/fresco"
         rel="noopener external"
         target="_blank">
        Dev.to&nbsp;
        <%- faIcon({prefix: 'fas', iconName: 'external-link-square-alt'}, {classes: ['fa-xs', 'print-hidden'], title: 'Open in a new window'}) %>
      </a>
    </li>
    <li id="profile-linkedin">
      <span class="fa-li">
        <%- faIcon({prefix: 'fab', iconName: 'linkedin'}, {classes: ['fa-lg fa-fw'], title: 'LinkedIn'}) %>
      </span>
      <abbr class="no-print" title="Curriculum Vitae">CV</abbr>&nbsp;on&nbsp;
      <a id="profile-linkedin-link"
         href="https://www.linkedin.com/in/francesco-colamonici-b12b2b42"
         rel="noopener external"
         target="_blank">
        LinkedIn&nbsp;
        <%- faIcon({prefix: 'fas', iconName: 'external-link-square-alt'}, {classes: ['fa-xs', 'print-hidden'], title: 'Open in a new window'}) %>
      </a>
    </li>
    <li id="profile-sourceforge">
      <span class="fa-li">
        <%- faIcon({prefix: 'fas', iconName: 'clock'}, {classes: ['fa-lg fa-fw'], title: 'MyT'}) %>
      </span>
      <abbr title="Manage your Team">MyT</abbr>&nbsp;- open source web application on&nbsp;
      <a id="profile-sourceforge-link"
         href="https://sourceforge.net/projects/myt"
         rel="noopener external"
         target="_blank">
        SourceForge&nbsp;
        <%- faIcon({prefix: 'fas', iconName: 'external-link-square-alt'}, {classes: ['fa-xs', 'print-hidden'], title: 'Open in a new window'}) %>
      </a>
    </li>
    <li id="profile-email"
        class="visuallyhidden">
      <span class="fa-li">
        <!-- <img src="img/icons8-email-100.png"
             height="64"
             width="64"
             alt="E-mail"> -->
        <%- faIcon({prefix: 'fas', iconName: 'envelope'}, {title: 'E-mail'}) %>
      </span>
      <span id="profile-email-address"
            data-user="icinomaloc.f"
            data-domain="moc.liamg"><span id="profile-email-address-extra">i648503@nwytg.com</span></span>
    </li>
  </ul>
</section>
</div>
<aside id="qr-container-bottom"
       class="print-visible hidden">
  <picture class="lazy">
    <source data-srcset="img/Francesco_Colamonici.svg"
            type="image/svg+xml">
    <img data-src="img/Francesco_Colamonici.png"
         alt="Contact as QR Code">
  </picture>
  <noscript>
    <picture>
      <source srcset="img/Francesco_Colamonici.svg"
              type="image/svg+xml">
      <img src="img/Francesco_Colamonici.png"
           alt="Contact as QR Code">
    </picture>
  </noscript>
</aside>
<button id="pwa-button"
        title="Add to Home screen">
  <%- faLayer([
      [{prefix: 'fas', iconName: 'home'}, {classes: ['fa-lg'], title: 'Add to Home screen'}],
      [{prefix: 'fas', iconName: 'plus-circle'}, {classes: ['fa-xs', 'pwa-button-plus'], transform: {x: 18, y: 14}}]
    ]) %>
</button>
