<noscript>
  <link href="https://fonts.googleapis.com/css?family=Taviraj:600|Work+Sans"
        rel="stylesheet"
        media="screen">
  <link rel="stylesheet"
        href="css/main.bundle.css">
  <link rel="stylesheet"
        href="css/transitions.css"
        media="screen">
  <link rel="stylesheet"
        href="css/cookie-bar.css"
        media="screen">
  <!--
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.0.13/css/solid.css"
        integrity="sha384-Rw5qeepMFvJVEZdSo1nDQD5B6wX0m7c5Z/pLNvjkB14W6Yki1hKbSEQaX9ffUbWe"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.0.13/css/brands.css"
        integrity="sha384-VGCZwiSnlHXYDojsRqeMn3IVvdzTx5JEuHgqZ3bYLCLUBV8rvihHApoA1Aso2TZA"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css"
        integrity="sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV"
        crossorigin="anonymous">
  -->
</noscript>
