<!DOCTYPE html>
<html class="no-js"
      lang="en"
      prefix="og: http://ogp.me/ns#">

<head>
  <script>document.documentElement.classList.remove("no-js");</script>
  <style>.no-js .lazy{display:none;}</style>
  <%- include('./partials/head') %>
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <%- body %>
</body>

</html>
